modules = ["bash", "dotnet-7.0", "nix", "nodejs-20", "python-3.10"]
run = "npm install"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm install"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 9005
externalPort = 3001
